<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CalculatorSuite" parallel="methods" thread-count="5">

    <test name="Regression">
        <groups>
            <run>
                <include name="addition"/>
                <include name="subtraction"/>
                <include name="multiplication"/>
                <include name="division"/>
                <include name="exponentiation"/>
            </run>
        </groups>
        <classes>
            <class name="org.businesstests.CalculatorTest"/>
        </classes>
    </test>
</suite>
